/*.alpaca-field.form-group:not([class*="col-"]) {
	clear: both;
}*/
/************ FD ************/
/* Liferay Context fixes */
.alpaca-wizard-buttons {
	clear: both;
}
.alpaca-container {
	.alpaca-container-item {
		.alpaca-field.form-group {
			label.alpaca-control-label {
				&:not(.settings) {
					width: 100%;
					text-align: left;
				}
			}
		}
	}
}
.enable-pointer-events {
	pointer-events: auto;
}
.disable-pointer-events {
	pointer-events: none;
}
.no-clear {
	clear: none;
}
.new-line {
	clear: both;
}
.w-resize {
	cursor: w-resize;
}
.no-borders {
	border: none;
}
.overflow-y {
	overflow-y: auto;
}
.field-tab-content {
	overflow-y: auto;
	height: 500px;
}
.row {
	padding-top: 20px;
}
#schema {
	width: 99%;
	height: 400px;
	border: 1px #aaa solid;
}
#options {
	width: 99%;
	height: 400px;
	border: 1px #aaa solid;
}
#source-view {
	width: 99%;
	height: 400px;
	border: 1px #aaa solid;
}
#data {
	width: 99%;
	height: 400px;
	border: 1px #aaa solid;
}
#codeDiv {
	width: 99%;
	height: 400px;
	border: 1px #aaa solid;
}
.form-element {
	padding: 5px;
	border: 1px #ccc solid;
	box-shadow: #ccc 2px 2px;
	margin: 10px;
	border-radius: 4px;
	background-color: #eee;
}

.class{
	display:none;
}

.hidden{
	display:none;
}

input[readonly].nostylereadonly{
  background-color:transparent;
  outline: none;
  border: 0;
  font-size: 1em;
}

.layout-element {
	padding: 5px;
	border: 1px #ccc solid;
	box-shadow: #ccc 2px 2px;
	margin: 10px;
	border-radius: 4px;
	background-color: #eee;
}
.form-element-title {
	font-weight: 600;
}
.dropzone {
	clear: both;
	margin: 0px;
	padding: 0px;
}
.dropzone-highlight {
	margin-top: 4px;
	height: 20px;
	border: 1px #888 dashed;
}
.dropzone-hover {
	height: 100px;
	border: 1px #888 dashed;
	background-color: #eee;
}
.modal-header {
	background-color: #f5f5f5;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.ui-hover-state {
	background-color: #aaa !important;
	opacity: 0.1 !important;
}
.dashed {
	border: 1px #ccc dashed;
	padding: 10px;
}
#designerDiv {
	[id^=column-] {
		padding: 10px;
		border: 1px #ccc solid;
		box-shadow: #ccc 2px 2px;
		border-radius: 4px;
		background-color: #fcf8e3;
	}
	#row-default {
		padding: 10px;
		border: 1px #ccc solid;
		box-shadow: #ccc 2px 2px;
		border-radius: 4px;
		background-color: #e7e7e7;
	}
}
#attachment-filetype {
	height: 100% !important;
}
.aui {
	.tab-content {
		overflow: inherit;
	}
}
#alpaca-right-menu {
	height: 500px;
	overflow-y: scroll;
	width: 100%;
}

.formDisabilitato{
	color:grey;
}
